.body {
  height: 70%;
  margin-top: 1.3rem;
}
.image {
  width: 30%;
  float: left;
  margin: 0 5%;
  border-radius: 1.5rem;
  
}

.image img {
  object-fit: cover;
  border-radius: 1.5rem;
}

.product {
  
}
.text {
  font-weight: 800;
  font-size: 1.1em;
  margin: 4%;
}
.name {
  font-weight: 800;

}

.price {
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: column;
}

.statusbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status {
  width: 50px;
  height: 24px;
  background-color: black;
  border-radius: 1.2rem;
  color:white;
  
}
.icons {
  display: flex;
}
.chatbox {
  width: 10pxq;
}