.chattinglist {
  height: 240px;
  background-color: transparent;
  text-align: left;
  overflow: scroll;
  padding-left: 10px;
}

.chat {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.profile {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  overflow: hidden;
}

.profileimg {
    border-radius: 35px;
  object-fit: cover;
}

.chatcontent {
    display: flex;
    flex-direction: column;
}

.sender {
  color: black;
  font-size: 0.8rem;
  margin-left: 5px;
}

.content {
  width: 300px;
  color: black;
  font-size: 0.8rem;
  margin-left: 5px;
}
