.chattinglist {
  height: 240px;
  background-color: transparent;
  text-align: left;
  overflow: scroll;
  padding-left: 10px;
}

.chat {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid rgba(33, 33, 33);
}

.profileimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sender {
  color: rgba(210, 210, 210);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
  font-size: large;
  margin-left: 5px;
}

.content {
  width: 300px;
  color: white;
  font-weight: bold;
  font-size: large;
  margin-left: 5px;
}
