.chattinglist {
  height: 150px;
  background-color: transparent;
  text-align: left;
  overflow: scroll;
  padding-left: 10px;
  
  position: fixed;
  width: 100%;
  bottom: 13%;
  z-index: 5;
}

.chat {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.profile {
  height: 35px;
  width: 35px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 3%;
}

.profileimg {
  border-radius: 100px;
  object-fit: cover;
}

.chatcontent {
  display: flex;
  flex-direction: column;
}

.sender {
  color: white;
  font-size: 0.9rem;
  margin-left: 5px;
  font-weight: 800;
}

.content {
  width: 300px;
  color: white;
  font-size: 0.8rem;
  margin-left: 5px;
}
