.chatform {
  border: 3px solid #c0c6bb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 45px;
  border-radius: 45px;

  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 2;
}

.input {
  margin-left: 10%;
  font-size: 15px;
  border: none;
  background: transparent;
  color: white;
}

.submitbtn {
  color: #c0c6bb;
}
