
  .text {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 4.5%;
    margin-top: 3%;
    color: white;
    width : 90%;
  }
  
  .cardbox {
    display: flex;
    overflow: scroll;
    min-height: 200px;
    padding-left: 3%;
  }