.body {
  position: absolute;
  height: 25%;
  right: 0;
  display: flex;
  width: 85%;
  align-items: center;
}

.leftbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.font {
  font-size: 1.2em;
  font-weight: 800;
  color: white;
  margin-right: 0;
}

.loginbtn {
  background-color: #bcff5e;
  width: 65%;
  padding: 3% 4%;
  margin: 4% 0;
  border-radius: 25px;
  font-size: 0.85em;
  font-weight: 600;
}

.rightbox {
  border-bottom: solid #bcff5e 3px;
  flex: 1;
  margin: 0;
}
