.prices {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prices button {
  margin: 3%;
  background-color: white;
  border-radius: 40px;
  width: 70px;
  height: 40px;
  font-size: 17px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  box-shadow: 9px 11px 43px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 11px 43px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 11px 43px 6px rgba(0, 0, 0, 0.75);
}
