.timer {
  width: 120px;
  height: 70px;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2%;
}

.count {
  color: #bcff5e;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
