.navbody {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 1px;
}

.body {
  border-top: 0.5px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  color: white;
}

.liveicon {
  width: 52px;
  height: 52px;
}

.company {
  font-size: 9px;
  margin: auto;
  color: white;
}
