.body {
  display: flex;
  background-color: #d1d1d1;
  justify-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  margin-left: 10%;
  font-weight: 600;
  color: black;
  margin: 10%;
}

.glassicon {
  margin-top: 30%;
}

.container {
  display: inline-flex;
  margin-right: 3%;
}