.body {
  display: flex;
  background-color: #d1d1d1;
  justify-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: black;
  margin: 10%;
}

.icon {
  float: right;
  border: 1px solid red;
}
