.body {
  position: fixed;
  top: 0;
  display: flex;
  background-color: white;
  opacity: 75%;
  z-index: 3;
  justify-content: center;
  padding: 1%;
  width : 100%;
}

.contentbox {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.rightbox {
  display: flex;
  align-items: center;
}

.glassicon {
  width: 25px;
}

.bellicon {
  width: 25px;
}
