.body {
    width : 90%;
    margin : 5%;
}

.title {
    font-size: 15px;
    font-weight: 700;
}

.reviewcontainer {
    width : 100%;
    display: flex;
    flex-direction: column;
    margin : 2% 0;
}

.review {
    display: flex;
    flex-direction: row;
    border-radius: 15px; ;
}

.review:nth-child(odd) {
    background-color: #DFDFDF;
}
.review:nth-child(even) {
    background-color: #BCFF5E;
}

.writer {
    font-weight: 700;
    font-size: 14px;
}

.comment {
    font-size: 12px;
}