.body {
    border-radius: 15px;
    height : 75px;
    
    margin : 5px;
}

.body:nth-child(odd) {
    background-color: #DFDFDF;
}

.body:nth-child(even) {
    background-color: #DEFFAF;
}
.writer {
    font-weight: 700;
    font-size: 14px;
}

.comment {
    font-size: 12px;
}

.review {
    display: flex;
    flex-direction: row;
    border-radius: 15px; ;
}


.writer {
    font-weight: 700;
    font-size: 14px;
}

.comment {
    margin-top: 0.2rem;
    font-size: 12px;
}

.userinfo { 
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
    font-family: 'Roboto', sans-serif;

}

.userimg {
    margin-top: 0.7rem;
    margin-left: 0.7rem;
    width : 23px;
    height : 23px;
    border-radius: 23px;
}

.userimg img {
    border-radius: 23px;
    object-fit: cover;
}

