.body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.nav {
  display: flex;
  width: 95%;
  margin: 5% 0 3% 0;
  justify-content: space-between;
  align-items: center;
}

.navleft {
  display: flex;
  align-items: center;
}

.navright {
  margin-right: 3%;
}

.save {
  color: black;
  font-weight: 600;
}

.userimg {
  margin-top: 20%;
  width: 100px;
  height: 100px;
  
}

.udtnickname {
  width: 80%;
  margin-top: 10%;
}

.nickname {
  font-weight: 600;
  font-size: 1.1rem;
}

.content {
  border: solid #636363;
  border-width: 1px;
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
  padding: 4%;
}
