.box {
  margin-right: 7%;
}

.image {
    width: 121px;
    height: 196px;
    /* opacity: 0.6; */
    filter: drop-shadow(2px 2px 4px rgba(188, 255, 94, 0.7)) ;
    border-radius: 20px;
    margin: 3%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: inline-block;
    padding: 1.8%;
  }
  
  .image::before{
    content: "";
    opacity: 0.5;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
  }
  
  .title {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    position: absolute;
  }
  
  .btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 18px;
    padding: 5px;
    background-color: #d9d9d9;
    text-align: center;
    position: absolute;
    top: 72%;
    width: 90%;
    margin-left: 3%;
  }