.body {
  width: 90%;
  display: flex;
  margin: 2% auto;
  padding: 2% 0 5% 0;
  border-bottom: 0.7px solid #d9d9d9;
}

.productimg {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin-right: 4%;
}

.productimg img {
  object-fit: cover;
  border-radius: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
}

.ttitle {
  font-weight: 800;
  font-size: 14px;
  margin: 1% 0;
}

.review {
  font-size: 8px;
  text-decoration: underline;
}

.review:hover {
  color: #bcff5e;
}

.title {
  font-weight: 800;
  font-size: 14px;
  margin: 1% 0;
}

.price {
  font-weight: 700;
  font-size: 13px;
  margin: 2% 0;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0 0 0;
}

.status {
  width: 48px;
  height: 25px;
  border-radius: 13px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  margin: 0;
  padding: 0;
  width: 24%;
}

.icon {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 7%;
}

.true {
  fill: rgb(17, 16, 16);
}

.false {
  color: white;
}
.icon svg {
  width: 21px;
  padding: 0;
  margin: 0;
}

.zimg {
  width: 14px;
}

.zimg img {
  object-fit: cover;
}

.count {
  position: absolute;
  left: 19px;
  bottom: 0;
  font-size: 8px;
}

.zcount {
  position: absolute;
  left: 16px;
  bottom: 0;
  font-size: 8px;
}

.onsale {
  color: white;
  background-color: black;
}
