.body {
  width : 100vw;
  height : 100vh;
}

.swiperbox {
  height: 240px;
  position : relative;
}

.swiper {
  height : 100%;
}

img {
  width : 100%;
  height : 100%;
  object-fit: cover;
}

.container {
  width : 90%;
  display: flex;
  flex-direction: column;
  margin: 2% auto;
}

/* 라이브 예정 알림 표시 */
.livealert {
  width : 100px;
  height : 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bcff5e;
  border-radius: 35px;
  position : absolute;
  bottom: 5%;
  right : 5%;
  z-index: 1;
}

.livealert span {
  font-size: 12px;
  font-weight: 800;
}

/* 판매자 정보 */

.seller {
  display: flex;
  align-items: center;
  margin : 2% 0;
}

.sellerImgBox {
  width : 40px;
  height : 40px;
}

.sellerImg {
  border-radius: 100%;
}

.sellerName{
  margin-left: 3%;
  font-size: 12px;
}

/* 드롭다운 */
.dropdown {
  width: 70px;
  height : 25px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  margin: 3% 0 0 0;
}

.dropdown option {
  padding : 3px;
}

/* 상품 정보 */
.title {
  font-weight: 800;
  font-size: 15px;
  margin: 3% 0;
}

.price {
  font-size: 13px;
  font-weight: 700;
}

.desc {
  font-size: 11px;
  font-weight: 700;
  margin: 2% 0;
}

.icons {
  display: flex;
  margin: 1% 0;
}

.icons > div {
  display: flex;
  position: relative;
}

.count {
  position: absolute;
  bottom: 0;
  right:0;
  font-size: 8px;
}

.z {
  width : 15px;
  height: 15px;
  border: solid blue 2px ;
}

.zimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icons svg{
  width : 15px;
  height : 15px;
}

.timeBox {
  margin : 1% 0 5% 0;
}


.timeTitle {
  font-size: 10px;
  font-weight: 700;
}

.timeContent {
  font-size: 10px;
  width : 300px;
  height : 40px;
  border-radius: 8px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  padding-left : 15px;
}