.background {
  background-color: black;
  width :100vw;
  height: 100vh;
} 

.body {
  border-radius: 50px 50px 0 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding : 7% 0;
  width : 100%;
}


.onsale {
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  width : 80%;
  margin: 1% auto 3% auto;
}

.items {
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.text {
  font-weight: 800;
  font-size: 1.1em;
  margin: 4%;
}

.image {
  width: 25%;
  float: left;
  margin: 5%;
}

.title {
  font-weight: 600;
}

.icons {
  display: flex;
  margin: 1% 0;
}

.icons div {
  display: flex;
}

.z {
  width: 15px;
  height: 18px;
}

.icons svg {
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-right: 4%;
}


.ref{
  height : 10px;
  width : 100%;
}