.body {
  background-color: black;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 2%;
  color: #bcff5e;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 2%;
  margin-top: 3%;
  color: white;
}
