.body {
  background-color: black;
  width : 100vw;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 2%;
  color: #bcff5e;
  width : 90%;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 2%;
  margin-top: 3%;
  color: white;
  width : 90%;
}
