.body {
    width : 100vw;
    height : 100vh;
}

.container {
    width : 90%;
    margin : auto;    
}


/* 상단 컨테이너 */
.top {
    border : 2px solid red;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 판매자 정보 */
.topleft {
    display: flex;
    align-items: center;
}

.sellerimg {
    width : 50px;
    height: 50px;
    border-radius: 100%;
}

.sellername {
    font-size: 16px;
    font-weight: 700;
}

/* 상단 우측 */ 
.topright {
    display: flex;
    align-items: center;    
}

.live {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16.5px;
    background-color: #BCFF5E;
    width : 55px;
    height : 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exiticon {
    color: white;
    width : 11px;
    height : 11px;
}

/* 하단 컨테이너 */
.bottom {
    border : 2px solid red;
}
.bottombar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatform {
    border : 3px solid #c0c6bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 250px;
    height: 45px;
    border-radius: 45px;
}

.input {
    margin-left : 10%;
    font-size: 15px;
}

.submitbtn {
    color: #c0c6bb;
}


/* Go? 버튼 */
.gobtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    width : 65px;
    height : 40px;
    border-radius: 40px;
    background-color: #BCFF5E;
}