.body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding-top: 7%;
}

.logo {
  color: #bcff5e;
  font-weight: 1000;
  font-size: 30px;
  display: flex;
  margin-left: 3%;
}

.togglebtn {
  position: fixed;
  bottom: 17%;
  left: 30%;
  display: table;
  table-layout: fixed;
}

/* 토글 버튼 */
.toggle {
  display: table-cell;
  width: 200px;
  border: 2px solid white;
  border-radius: 100px;
}

.knobs,
.layer {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  /* position: relative; */
  top: 50%;
  width: 150px;
  height: 30px;
  margin: -20px auto 0 auto;
  /* overflow: hidden; */
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: black;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
.knobs:before {
  font-family: "Poppins", sans-serif;
  content: "S E L L";
  position: absolute;
  top: 18%;
  left: 5%;
  width: 75px;
  height: 20px;
  color: black;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  padding: 4px 4px;
  background-color: white;
  border-radius: 100px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .knobs:before {
  content: "B U Y";
  left: 45%;
  color: black;
  background-color: white;
}

.checkbox:checked ~ .layer {
  background-color: black;
}

.knobs,
.knobs:before,
.layer {
  transition: 0.3s ease all;
}
