.body {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.logo{
  color: #BCFF5E;
  font-weight: 1000;
  font-size: 30px;
  display: flex;
  margin-left: 3%;
}

.logo span {
  margin: 3% ;
}

.livebtn {
  width: 30px;
  height: 40px;
  background-color: red;
}

.togglediv {
  margin-top: 8%;
  text-align: center;
}

.togglebtn {
  display: inline-block;
}

/* 토글 버튼 */
.toggle {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
  border: 2px solid white;
}

.cover {
  height: 100px;
  margin: 20px;
  border-radius: 100px;
}

.cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 150px;
  height: 30px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: black;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
.knobs:before {
  content: "SELL";
  position: absolute;
  top: 6.5px;
  left: 4px;
  width: 75px;
  height: 20px;
  color: black;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  padding: 4px 4px;
  background-color: white;
  border-radius: 100px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .knobs:before {
  content: "BUY";
  left: 70px;
  color: black;
  background-color: white;
}

.checkbox:checked ~ .layer {
  background-color: black;
}

.knobs,
.knobs:before,
.layer {
  transition: 0.3s ease all;
}