.body {
    background-color: white;
    width: 100vw;
    height: 100vh;
  }
  
.nav {
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : auto;
  }

.input {
    border-radius: 0.3rem;
    background-color: #E9E9E9;
    width: 90%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input input {
    background-color: #E9E9E9;
    margin-left : 3%;
  }

  .input svg {
    width: 20px;
  }