.body {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 1rem;
}


.statusnav{
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.status {



}

.block {
  margin: 0 1.3rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 0.9rem;
}

.btn:hover {
  border-bottom: 2px solid black;
  font-weight: 700;
}
