.body {
    background-color: white;
    width : 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav {
    width : 100%;
    height : 60px;
    display: flex;
    align-items: center;
}
.reviewform {
    margin: 0 auto;
    width: 90%;

}
.trade {
    color: black;
    font-weight: bold;
}
.comments {
    border: solid #636363;
    border-width: 1px;
    width: 100%;
    border-radius: 0.8rem;
    margin-top: 0.7rem;
    padding : 4%;
}


.submit{
    width: 308px;
    height: 39px;
    background-color: #D9D9D9;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 1.2rem;
}
